
  
  <div id="player-wrapper">
    <div class="playpausebtn"></div>
    <div class="overlay"></div> 
    <div id="player"></div> 
  </div>

  {{#picker}}
  <div class="videoPickerWrapper">
    <input id="videoPicker" type="slider" class="hide" name="area" value="{{start}};{{end}}" />
  </div>
  {{/picker}}
</article>
{{end}}

<script>
  // Loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Create the Youtube Iframe
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
    height: '230px',
    videoId: '{{youtube_id}}',
    playerVars: { 
      'autoplay': 0, 
      'autohide': 1,
      'showinfo': 0 ,
      'showsearch ': 0,
      'iv_load_policy' : 3,
      'start': {{start}}
    },

    events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
  }


  function onPlayerReady(event) {
    event.target.setPlaybackQuality('small');
  }

  var done = false;
  function onPlayerStateChange(event) {
    /*if (event.data == YT.PlayerState.PLAYING && !done) {
      player.pauseVideo();
      done = true;
    }*/
  }

</script>